<section class="content-header">
</section>
<br/>
<section class="content">
    <div class="jumbotron welcome-jumbotron">
        <h1>Bem vindo ao sistema de gerenciamento de usuários!</h1>
        <br/>
        <form name="calculaCustosForm" role="form" novalidate #calculaCustos="ngForm" (ngSubmit)="calcularCusto()">
            <div class="form-group row">
                <div class="col-6">
                    <label for="email">E-mail:</label>
                    <br/>
                    <input type="number" class="form-control" style="width: 100%;" step="1" min="0" name="email" id="emaul" [(ngModel)]="user.email" required="required">
                </div>
                <div class="col-6">
                    <label for="password">Senha:</label>
                    <br/>
                    <input type="number" class="form-control" style="width: 100%;" step="1" min="0" name="email" id="email" [(ngModel)]="user.password" required="required">
                </div>
            </div>
            <button class="btn btn-success" ng-disabled="calculaCustosForm.$invalid">Entrar</button>
        </form>
    </div>
</section>